{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center">PDF Manager</h1>
    <div class="row">
      {% for pdf_file in pdf_files %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ pdf_file }}</h5>
              <a href="{% url 'download_pdf' %}" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}